<%- contentFor('body') %>
<div class="jumbotron text-center">
    <img src="/img/main.jpeg" class="main-img">
    <section class="container-fluid">
      <form class="form-login">
        <input type="text" name="user" value="user" placeholder="username" id="nameUser">
        <input type="text" name="email" value="email" placeholder="email" id="emailUser">
        <input type="password" name="password" value="password" placeholder="password" id="passUser">
        <button type="button" onclick="loginForm()">Enviar</button>
      </form>
      </section>
    <header>
   <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/signup">Signup</a></li>
    </ul>
   </nav>
  </header>
</div>
