<%- contentFor('body') %>
<div class="jumbotron text-center">
    <section class="container-fluid content-login" id="login">
      <form class="form-login" method="POST" action="/signup">
        <input type="text" name="email"  placeholder="email" >
        <input type="password" name="password"  placeholder="password" >
        <button type="submit">Enviar</button>
      </form>
      </section>
    <!-- <div id="startGame">
      <a class="hvr-bounce-in " href="/game">Play</a>
    </div> -->
</div>
