<%- contentFor('body') %>
<div class="jumbotron text-center">
    <section class="container-fluid content-login" id="login">
      <form class="form-login">
        <input type="text" name="user" value="user" placeholder="username" id="nameUser" required>
        <input type="text" name="email" value="email" placeholder="email" id="emailUser" required>
        <input type="password" name="password" value="password" placeholder="password" id="passUser" required>
        <button type="button" onclick="loginForm()">Enviar</button>
      </form>
      </section>
    <div id="startGame">
      <a class="hvr-bounce-in " href="/game">Play</a>
    </div>
</div>
